body {
    font-family: Helvetica, Verdana, Arial, sans-serif;
}
img {
	width: 100%;
}
.content {
	max-width: 1200px;
	margin: auto;
}
.section {
	margin-top: 6%;
	margin-bottom: 6%; 
}

p,ul,ol {
	width: 93%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
	text-align: left;
}
.lianneheader {
	font-weight: bold;
	width: 93%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	text-align: left;
}
.footer {
	width: 97%;
	font-size: 12px;
	text-align: center;
	color: white;
	padding: 1.5%;
	background-color: #006dc6;
	margin-bottom: 0;
	margin-top: 3%;
}
h1 {
	font-size: x-large;
	text-align: left;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}
h2 {
	text-align: left;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	font-size: large;
}

/* navbar */
/* Source: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */
.navbar{
	overflow: hidden;
	background-color:  #006dc6;
	position: relative;
	top: 0;
	width: 100%;
}
.topitem {
	margin-top: 1em;
	margin: auto;
	margin-bottom: 1.2em;
}
.navbar a{
	float: left;
	color: white;
	padding: 17px 19px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 13px;
	display: block;
}
.navbar .icon {
	display: none;
  }
.navbar a:hover {
	background-color: white;
	color: #006dc6;
}
.navbar a.active {
	background-color:  #006dc6;
	color: white;
  }
@media screen and (max-width: 600px) {
	.navbar a:not(:first-child) {display:none;}
	.navbar a.icon {
		float: right;
		display: block;
	}
}
@media screen and (max-width: 600px) {
	.navbar.responsive {position: relative;}
	.navbar.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.navbar.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}
/* END Navbar */


/* Top banner */
.banner {
	width: 100%;
}
.bannercol {
	float: left;
	width: 25%;
}
.bannercol2 {
	float: right;
	width: 50%;
}
.bannerrow::after {
	content: "";
	clear: both;
	display: table;
}
/* END Top Banner */


/* Problem statement summary */
.pssummary {
	text-align: left;
	font-size: medium;
}

/* END problem statement summary */





/* Problem statement table */
.psrow {
	margin-top: 2%;
	margin-bottom: 2%;
	border: #006dc6;
	border-style: solid;
}
.pscol {
	float: left;
	width: 23%;
	margin-left: 1%;
	margin-right: 1%;
}
.psrow::after {
	content: "";
	clear: both;
	display: table;
}
.pspar {
	text-align: center;
	width: 100%;
}
.psheader {
	margin-top: 4%;
	font-size: x-large;
	text-align: center;
}
.tablefields {
	text-align: center;
	word-break: break-all;
}
/* END Problem statment table */


/* Editing page*/
.webappimages {
	width: 93%;
	margin: auto;
}
.webappimages::after {
	content: "";
	clear: both;
	display: table;
}
.liannewebapp_column {
	width: 50%;
	float: left;
}
.markwebapp_column {
	width: 50%;
	float: left;
}
.caption {
	font-size: small;
	margin-top: 0;
	text-align: center;
	color: grey;
}
.fieldimages {
	width: 93%;
	margin: auto;
	text-align: center;
}
.fieldimages::after {
	content: "";
	clear: both;
	display: table;
}
.fieldmap_column {
	width: 25%;
	float: left;
}
.points {
	font-weight: bold;
}
/* END Editing page */


/* Displaying page */
.dashboard {
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.experienceimages {
	width: 93%;
	margin: auto;
	text-align: center;
}
.experienceimages::after {
	content: "";
	clear: both;
	display: table;
}
.exp_column {
	width: 25%;
	float: left;
}
